
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 95%;

    --card: 240 4% 10%;
    --card-foreground: 0 0% 95%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 95%;

    --primary: 43 56% 58%;
    --primary-foreground: 240 10% 3.9%;

    --secondary: 240 4% 10%;
    --secondary-foreground: 0 0% 95%;

    --muted: 240 4% 10%;
    --muted-foreground: 240 5% 65%;

    --accent: 240 4% 10%;
    --accent-foreground: 0 0% 95%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 15%;
    --input: 240 4% 15%;
    --ring: 43 56% 58%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 95%;

    --card: 240 4% 10%;
    --card-foreground: 0 0% 95%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 95%;

    --primary: 43 56% 58%;
    --primary-foreground: 240 10% 3.9%;

    --secondary: 240 4% 10%;
    --secondary-foreground: 0 0% 95%;

    --muted: 240 4% 10%;
    --muted-foreground: 240 5% 65%;

    --accent: 240 4% 10%;
    --accent-foreground: 0 0% 95%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 15%;
    --input: 240 4% 15%;
    --ring: 43 56% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
